
<body class="flex bg-gray-100 min-h-screen">
    <main class="p-6 space-y-6">
      <section class="grid grid-cols-4 gap-6">
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center justify-center text-4xl h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
           <i class="fa-solid fa-parachute-box"></i>
          </div>
          <div>
            <span class="block text-2xl font-bold"><%= @supplier_data %></span>
            <span class="block text-gray-500">Suppliers</span>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center justify-center text-4xl h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
            <i class="fa-solid fa-boxes-stacked"></i>
          </div>
          <div>
            <span class="block text-2xl font-bold"><%= @product_data %></span>
            <span class="block text-gray-500">Products</span>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center justify-center text-4xl h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
            <i class="fa-solid fa-users"></i>
          </div>
          <div>
            <span class="inline-block text-2xl font-bold"><%= @customer_data%></span>
            <span class="block text-gray-500">Costumers</span>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center text-4xl justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
            <i class="fa-regular fa-user"></i>
          </div>
          <div>
            <span class="block text-2xl font-bold"><%= @user_data %></span>
            <span class="block text-gray-500">Users</span>
          </div>
        </div>
      </section>  
      <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-3 xl:grid-flow-col gap-6">
      <!--Line chart -->
        <div class="flex flex-col md:col-span-3 md:row-span-3 bg-white shadow rounded-lg">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Purchases</div>
          <div class="p-4 flex-grow">
            <div class="flex h-full px-4 w-full text-gray-400 text-3xl font-semibold rounded-md">
                <div class="w-full" id="purchase-chart-container"></div> 
            </div>
          </div>
        </div>

        
        <div class="flex flex-col row-span-3 bg-white shadow rounded-lg overflow-hidden">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Suppliers</div>
          <div class="p-4 flex-grow">
            <div class="flex items-center justify-center text-gray-400 text-3xl font-semibold  rounded-md">
              <div id="product-chart-container"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="grid grid-cols-4 gap-6 h-full">
       <div class="flex flex-col md:col-span-4 md:row-span-4 bg-white shadow rounded-lg">
        <div class="px-6 py-5 font-semibold border-b border-gray-100">Sales Data</div>
        <div class="p-4 flex-grow">
        <div class="flex items-center justify-center text-gray-400 text-3xl font-semibold  rounded-md">
          <div class="w-full h-80" id="sale-chart-container"></div>
          </div>
          </div>
        </div>
      </section>

    </main>
  </div>
</body>

<script>
  $(document).ready(function() {
    function fetchChartData() {
      $.ajax({
        url: '/ims/chart_data',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          const linechartData = data.purchase_counts_by_day.map(item => ({
            name: item.name,
            data: JSON.parse(item.data)
          }));
          new Chartkick.LineChart('purchase-chart-container', linechartData, {
            xtitle: 'Date',
            ytitle: 'Purchase Count'
          });

        var pieChartData = data.product_counts_by_day.map(item => {
            return [item.supplier_name, item.product_count, item.product_names];
        });
        new Chartkick.PieChart('product-chart-container', pieChartData, {
          library: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var index = tooltipItem.index;
                        return dataset.productNames[index];
                    }
                }
            }
        }
        });

          


          new Chartkick.ColumnChart('sale-chart-container', data.sale_counts_by_day_of_week, {
            title: 'Sales Data no of sales',
            xtitle: 'Porduct name',
            ytitle: 'No. of sales'
          });
        },
        error: function(xhr, status, error) {
          console.error('Error fetching chart data:', error);
        }
      });
    }

    fetchChartData();

    $('#refresh-charts-button').on('click', function() {
      fetchChartData();
    });
  });
</script>